In [45]:
import pandas as pd
from pathlib import Path
from collections import Counter
import locale
locale.setlocale(locale.LC_ALL,'')

'English_United States.1252'

In [13]:
Path.cwd()

WindowsPath('C:/Users/Needra Pc/1 MSU Data Analysis Boot Camp/MSU assisgnment 07 06 2023/Starter_Code/PyBank')

In [ ]:
### I had to insert the full path, but will figure out why later

In [21]:
csv_path = Path('C:/Users/Needra Pc/1 MSU Data Analysis Boot Camp/MSU assisgnment 07 06 2023/Starter_Code/PyBank/Resources/budget_data.csv')

In [ ]:
### View last 5 rows: This comment section is directly from the test data to verify dataframe is working 
### Oct-16,-729004
### Nov-16,-112209
### Dec-16,516313
### Jan-17,607208
### Feb-17,382539

In [46]:
bank_df = pd.read_csv(csv_path, encoding="utf-8")

In [23]:
bank_df.tail()

      Date  Profit/Losses
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

In [ ]:
### In this Challenge, you are tasked with creating a Python script to analyze the financial records of your company. You will be given a financial dataset called budget_data.csv. The dataset is composed of two columns: "Date" and "Profit/Losses".
### Your task is to create a Python script that analyzes the records to calculate each of the following values:
### •	The total number of months included in the dataset = 86
###•	The net total amount of "Profit/Losses" over the entire period Total: $22564198
###•	The changes in "Profit/Losses" over the entire period, and then the average of those changes Average Change: $-8311.11
###•	The greatest increase in profits (date and amount) over the entire period Greatest Increase in Profits: Aug-16 ($1862002)
###•	The greatest decrease in profits (date and amount) over the entire period Greatest Decrease in Profits: Feb-14 ($-1825558)

In [ ]:
### The total number of months included in the dataset should = 86; The "D" in date must match the file capitalzation used the groupby function "size" actual number of rows including blanks; "count" actual number of rows with data excluding  blanks gave the same results to get the number of rows

In [24]:
print(bank_df.groupby('Date').size())

Date
Apr-10    1
Apr-11    1
Apr-12    1
Apr-13    1
Apr-14    1
         ..
Sep-12    1
Sep-13    1
Sep-14    1
Sep-15    1
Sep-16    1
Length: 86, dtype: int64

In [25]:
print(bank_df.groupby('Date').count())

        Profit/Losses
Date
Apr-10              1
Apr-11              1
Apr-12              1
Apr-13              1
Apr-14              1
...               ...
Sep-12              1
Sep-13              1
Sep-14              1
Sep-15              1
Sep-16              1

[86 rows x 1 columns]

In [ ]:
###•	The net total amount of "Profit/Losses" over the entire period Total: $22564198  Profit/Losses

In [36]:
sum_df = bank_df[["Profit/Losses"]].aggregate("sum")

In [37]:
### locale.currency(bank_df([["Profit/Losses"]].aggregate("sum")))

In [43]:
print("$",sum_df)

$ Profit/Losses    22564198
dtype: int64